*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    height: 70px;
}

.my_blue_color{
    background-color: rgb(44,62,80);
    color: white;
}
/* header */
/* main */
.my_green_color{
    background-color: rgb(26,188,156);
    color: white;
}

.my_padding_top{
    padding-top: 80px;
}

#my_avatar{
    width: 15%;
}

.my_white_color{
    background-color: white;
    color: black;
}

.col-12 img{
    width: 100%;
    height: 100%;
}

.position-relative:hover img{
    filter: brightness(50%);
}

.position-relative .fa-plus{
    display: none;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.portfolio .row .position-relative:hover .fa-plus{
    display: block;
    cursor: pointer;
}

.my_font_size_18px{
    font-size: 18px;
}

.my_lightblue_color{
    background-color: rgb(58,84,109);
    color: white;
}
/* main */
/* footer */
.my_font_size_18px span{
    color: rgb(26,188,156);
}

#footer_bot{
    height: 70px;
    line-height: 70px;
}
/* footer */

/* debug */
/* .debug header{
    background: rgb(44,62,80);
} */

/* .debug .container{
    height: 100%;
} */

/* .debug #start{
    background-color: lightgreen;
    border: 1px solid black;
} */

/* .debug #nav_links{
    background-color: lightsalmon;
    border: 1px solid black;
} */

/* .debug #my_avatar{
    background:blue;
    border-radius: 50%;
} */

/* .debug #portfolio{
    background-color: lightcoral;
} */
/* 
.debug .contact{
    background: lightsalmon;
}  */
/* debug */