*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    height: 60px;
}

.my_blue_color{
    background-color: rgb(44,62,80);
    color: white;
}
/* header */
/* main */
.my_green_color{
    background-color: rgb(26,188,156);
    color: white;
    height: 400px;
}

#my_avatar{
    width: 20%;
    height: 200%;
}

#my_container_banner{
    height: 100px;
}

.my_white_color{
    background-color: lightcoral;
    color: black;
    height: 400px;
}

.portfolio_square{
    width: 100%;
    height: 100%;
    background-color: blue;
}

.contact-me{
    height: 400px;
}

.input{
    height: 80px;
}
/* main */
/* debug */
/* .debug header{
    background: rgb(44,62,80);
} */

.debug .container{
    height: 100%;
}

/* .debug #start{
    background-color: lightgreen;
    border: 1px solid black;
} */

/* .debug #nav_links{
    background-color: lightsalmon;
    border: 1px solid black;
} */

.debug #my_avatar{
    background:blue;
    border-radius: 50%;
}

.debug #portfolio{
    background-color: lightcoral;
}

.debug .contact{
    background: lightsalmon;
} 
/* debug */