*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
#nav_links a{
    color: black;
    text-decoration: none;
}
/* header */

.my_green_color{
    background-color: rgb(26,188,156);
    color: white;
    height: 300px;
}

#my_avatar{
    width: 20%;
    height: 100%;
}

#my_container_banner{
    height: 100px;
}

/* debug */
.debug header{
    background: rgb(44,62,80);
}

.debug .container{
    height: 100%;
}

.debug #start{
    background-color: lightgreen;
    border: 1px solid black;
}

.debug #nav_links{
    background-color: lightsalmon;
    border: 1px solid black;
}

.debug #my_avatar{
    background:blue;
    border-radius: 50%;
}
/* debug */